<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ForgettingCurveMapper">


    <!-- result类型111 -->
    <resultMap id="mapResult" type="java.util.HashMap">
        <result property="key" column="forgetting_curve_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="value" column="creation_time" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>

    <!-- 上述方法的sql语句 -->
    <select id="test2" resultMap="mapResult">
        select
            creation_time,
            forgetting_curve_name
        from forgetting_curve
    </select>

    
    <select id="test" resultType="forgettingCurve">
        select *
		from forgetting_curve
    </select>

    <!-- 批量更新下次提醒时间 -->
    <update id="updateList" parameterType="list">
        update forgetting_curve
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="next_remind_time =case" suffix="end,">
                <foreach collection="list" item="item" index="index" separator=" ">
                    when forgetting_curve_id=#{item.forgetting_curve_id}
                    then #{item.next_remind_time}
                </foreach>
            </trim>
            <trim prefix="add_frequency =case" suffix="end,">
                <foreach collection="list" item="item" index="index" separator=" ">
                    when forgetting_curve_id=#{item.forgetting_curve_id}
                    then #{item.add_frequency}
                    then 0
                </foreach>
            </trim>
        </trim>
        where forgetting_curve_id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.forgetting_curve_id}
        </foreach>
    </update>


    <!-- 获取 下次提醒时间 小于 指定时间 的提醒记录 -->
    <select id="getLTTodayList" resultType="map" parameterType="String">
        SELECT
            a.forgetting_curve_id,
            a.forgetting_curve_name,
            b.context
        FROM
            forgetting_curve a
                LEFT JOIN file b ON a.relevant_file = b.file_id
        <where>
            <if test="localDateTime != null">
                a.next_remind_time &lt; #{localDateTime}
            </if>
        </where>
        ORDER BY
            a.creation_time
    </select>

    <!-- 获取 下次提醒时间 在指定开始结束时间 的提醒记录 -->
    <select id="getBetweenTodayList" resultType="map" parameterType="map">
        SELECT
        a.forgetting_curve_id,
        a.forgetting_curve_name,
        b.context
        FROM
        forgetting_curve a
        LEFT JOIN file b ON a.relevant_file = b.file_id
        <where>
            <if test="start != null and end != null">
                a.next_remind_time between  #{start} and  #{end}
            </if>
        </where>
        ORDER BY
        a.creation_time
    </select>

    <!-- 修改下次提醒时间为当前时间，次数加一 -->
    <update id="toNextRemind" parameterType="forgettingCurve">
        UPDATE forgetting_curve
        SET
            next_remind_time = #{next_remind_time},
            add_frequency = #{add_frequency},
            frequency = frequency + 1
        WHERE
            forgetting_curve_id = #{forgetting_curve_id}
    </update>



    <update id="updateNrtAf" parameterType="forgettingCurve">
        UPDATE forgetting_curve
        SET
            next_remind_time = #{next_remind_time},
            add_frequency = 1,
            frequency = frequency + 1
        WHERE
            forgetting_curve_id = #{forgetting_curve_id}
    </update>

    <!-- 修改下次提醒时间为当前时间，指定次数 -->
    <update id="updateNrtAfF" parameterType="forgettingCurve">
        UPDATE forgetting_curve
        SET
            next_remind_time = #{next_remind_time},
            add_frequency = 1,
            frequency = #{frequency}
        WHERE
            forgetting_curve_id = #{forgetting_curve_id}
    </update>

<!--    forgetting_curve_id,
    forgetting_curve_name,
    relevant_file,
    creation_time,
    cycle_opening_time,
    next_remind_time,
    frequency,
    add_frequency-->


</mapper>